<!DOCTYPE html>
<html>
  <head>
    <title>Spettacolo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-static-top bg-dark justify-content-end">
    <div class="container ">
    <%= nav_bar brand: "Spettacolo Academy", brand_link: root_path,  class:"navbar-brand text-light"%>
     <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Cadastrar Produto", produtos_new_path %>
    <% end %>
    <form class="form-inline ">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 bg-dark" type="submit">Search</button>
    </form>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
